In [ ]:
# 1. write a code to reverse a string.
#code

a = "Hello world"
a[::-1]

'dlrow olleH'

In [ ]:
# 2.- Write a code to count the number of vowels in a string.
# code :

str1 = "Hello world"
vowels = 0
for i in str1:
  if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U"):
    vowels = vowels+1
print("Number of vowels are:")
print(vowels)

Number of vowels are:
3

In [ ]:
#.3 Write a code to check if a given string is a palindrome or not.
# code:

s = input(" Enter a string : ")
if s == s[::-1]:
  print(s+ " is a palindrome")
else:
  print(s+ " is not a palindrome")

 Enter a string : naman
naman is a palindrome

In [ ]:
# 4. Write a code to check if two given strings are anagrams of each other.
#code

word1 = "listen"
word2 = "silent"
sorted_word1 = sorted(word1)
sorted_word2 = sorted(word2)

is_anagrams = sorted_word1 == sorted_word2

if is_anagrams:
  print("The word are anagrams")
else:
  print("The word is not anagrams")

The word are anagrams

In [ ]:
# 5. Write a code to find all occurrences of a given substring within another string.
#code

def find_all_occurrences(main_string, sub_string):
    occurrences = [i for i in range(len(main_string)) if main_string.startswith(sub_string, i)]
    return occurrences

# Example usage:
main_str = "ababababab"
sub_str = "aba"

print("Occurrences:", find_all_occurrences(main_str, sub_str))

Occurrences: [0, 2, 4, 6]

In [ ]:
# 6. Write a code to perform basic string compression using the counts of repeated characters.
# code:
from itertools import groupby
s = 'aabbccccaa'
''.join(k + str(sum(1 for x in g)) for k, g in groupby(s))

'a2b2c4a2'

In [ ]:
# 7. Write a code to determine if a string has all unique characters.
# code


def has_unique_characters(string):
    #

    char_set = set()



    for char in string:
        # If the character is already in the set, return False (not unique)
        if char in char_set:
            return False
        # Otherwise, add the character to the set
        char_set.add(char)

    # If all characters are unique, return True
    return True

# Example usage:
input_string = "abcdefg"
print("Has unique characters:", has_unique_characters(input_string))

Has unique characters: True

In [ ]:
# 8. Write a code to convert a given string to uppercase or lowercase
# code

def convert_case(string, to_uppercase=True):
    if to_uppercase:
        return string.upper()
    else:
        return string.lower()

# Example usage:
input_string = "Hello World"

# Convert to uppercase
uppercase_string = convert_case(input_string)
print("Uppercase:", uppercase_string)

# Convert to lowercase
lowercase_string = convert_case(input_string, to_uppercase=False)
print("Lowercase:", lowercase_string)

Uppercase: HELLO WORLD
Lowercase: hello world

In [ ]:
# 9. Write a code to count the number of words in a string.
# code


s = input("Enter a string : ")
splitcode = s.split()
print(len(splitcode))

Enter a string : hello world
2

In [ ]:
#  10. Write a code to concatenate two strings without using the + operator
# code

def concatenate_strings(string1, string2):
    concatenated_string = "{}{}".format(string1, string2)
    return concatenated_string

# Example usage:
string1 = "Hello"
string2 = "World"
result = concatenate_strings(string1, string2)
print("Concatenated string:", result)

Concatenated string: HelloWorld

In [ ]:
# 11. Write a code to remove all occurrences of a specific element from a list
# code

def remove_all_occurrences(lst, element):
    return [item for item in lst if item != element]

# Example usage:
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
result = remove_all_occurrences(my_list, element_to_remove)
print("List after removal:", result)

List after removal: [1, 3, 4, 5]

In [ ]:
# 12. Implement a code to find the second largest number in a given list of integers.
#code

my_list = [10 , 20 , 40 , 30 , 50]
my_list.sort()
print("The second largest element of the list is:" , my_list[-2])

The second largest element of the list is: 40

In [ ]:
# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.
# code

def count_occurrences(lst):
    # Initialize an empty dictionary to store counts
    counts = {}

    # Iterate through the list and update counts
    for item in lst:
        if item in counts:
            counts[item] += 1
        else:
            counts[item] = 1

    return counts

# Example usage:
my_list = [1, 2, 3, 2, 4, 2, 5, 3, 5]
occurrences = count_occurrences(my_list)
print("Occurrences:", occurrences)

Occurrences: {1: 1, 2: 3, 3: 2, 4: 1, 5: 2}

In [ ]:
# 14. Write a code to reverse a list in-place without using any built-in reverse functions.
# code

original_list = [1, 2, 3, 4, 5]
reverse_list = []

for item in reversed(original_list):
  reverse_list.append(item)

print(reverse_list)

[5, 4, 3, 2, 1]

In [ ]:
# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.
# code

items = [1, 2, 3, 1, 4, 2]
list(dict.fromkeys(items))

[1, 2, 3, 4]

In [ ]:
# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.
# code

def is_sorted(check):
    asc = desc = True
    i, L = 0, len(check)
    while (i < (L-1)) and (asc or desc):
        if check[i] < check[i+1]:
            desc = False
        elif check[i] > check[i+1]:
            asc = False
        if not (asc or desc):
            break
        i += 1
    if asc and desc:
        return "Ascending and Descending"
    elif asc:
        return "Ascending"
    elif desc:
        return "Descending"
    else:
        return "Not ascending and not descending"

print (is_sorted([1, 2, 3]))
#       or
print (is_sorted([3, 2, 1]))
#      or
print (is_sorted([1, 2, 3, 2, 1]))

Ascending
Descending
Not ascending and not descending

In [ ]:
# 17. Write a code to merge two sorted lists into a single sorted list.
# code

list1 = [ 1 , 3 , 5 , 12]
list2 = [ 2 ,4 , 7 , 8 , 14]

list3 = list1 + list2
list3.sort()
print("The combing list is" ,(list3))

The combing list is [1, 2, 3, 4, 5, 7, 8, 12, 14]

In [ ]:
# 18. Implement a code to find the intersection of two given lists.
# code

def intersection_list(list1, list2):
  return set(list1).intersection(list2)

list1 = [40, 90, 11, 58, 31, 66, 28, 54, 79]
list2 = [58, 90, 54, 31, 45, 11, 66, 28, 26]

print(intersection_list(list1, list2))

{66, 90, 11, 54, 58, 28, 31}

In [ ]:
# 19. Create a code to find the union of two lists without duplicates
# code

def find_union(list1, list2):
    # Convert lists to sets to remove duplicates
    set1 = set(list1)
    set2 = set(list2)

    # Find the union of the sets
    union = set1.union(set2)

    return list(union)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

union = find_union(list1, list2)
print("Union of the lists:", union)

Union of the lists: [1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.
# code

import random

def shuffle_list(lst):
    # Copy the list to avoid modifying the original list
    shuffled = lst[:]

    # Perform Fisher-Yates shuffle
    n = len(shuffled)
    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)
        shuffled[i], shuffled[j] = shuffled[j], shuffled[i]

    return shuffled

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print("Shuffled list:", shuffled_list)

Shuffled list: [5, 3, 1, 2, 4]

In [ ]:
# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.
# code

def find_common_elements(tuple1, tuple2):
    # Convert tuples to sets
    set1 = set(tuple1)
    set2 = set(tuple2)

    # Find the intersection of the sets
    common_elements = set1.intersection(set2)

    # Convert the resulting set back to a tuple
    common_tuple = tuple(common_elements)

    return common_tuple

# Example usage:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

common_elements = find_common_elements(tuple1, tuple2)
print("Common elements:", common_elements)

Common elements: (4, 5)

In [ ]:
# 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.
# code

def get_set_from_input():
    # Prompt the user to enter a set of integers separated by commas
    input_str = input("Enter a set of integers separated by commas: ")
    # Convert the input string into a set of integers
    int_set = set(map(int, input_str.split(',')))
    return int_set

# Get two sets of integers from user input
set1 = get_set_from_input()
set2 = get_set_from_input()

# Find the intersection of the two sets
intersection = set1.intersection(set2)

# Print the intersection
print("Intersection of the two sets:", intersection)

Enter a set of integers separated by commas: 1, 2, 3, 4, 5
Enter a set of integers separated by commas: 6, 7, 8, 9, 10
Intersection of the two sets: set()

In [ ]:
#23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
# code

my_tuple = ("saurav", "aaru" , "manasi" , "rekha")
print (my_tuple)

my_tuple2 = (10 ,20 ,30 ,40, 50)
print(my_tuple2)
#concatenate

print(my_tuple + my_tuple2)

('saurav', 'aaru', 'manasi', 'rekha')
(10, 20, 30, 40, 50)
('saurav', 'aaru', 'manasi', 'rekha', 10, 20, 30, 40, 50)

In [ ]:

#24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.
# code

def main():
    # Prompting the user to input the first set of strings
    set1_input = input("Enter elements of the first set separated by spaces: ")
    set1 = set(set1_input.split())

    # Prompting the user to input the second set of strings
    set2_input = input("Enter elements of the second set separated by spaces: ")
    set2 = set(set2_input.split())

    # Finding the elements present in the first set but not in the second set
    difference = set1 - set2

    # Printing the elements
    print("Elements present in the first set but not in the second set:", difference)

if __name__ == "__main__":
    main()

Enter elements of the first set separated by spaces: 12
Enter elements of the second set separated by spaces: 25
Elements present in the first set but not in the second set: {'12'}

In [ ]:
# 25. Create a code that takes a tuple and two integers as input. The function should return a
# new tuple containing elements from the original tuple within the specified range of indices.

# code

def get_elements_in_range(input_tuple, start_index, end_index):

    # Check if the indices are valid
    if start_index < 0 or end_index >= len(input_tuple) or start_index > end_index:
        return None



    # Create a new tuple containing elements within the specified range
    result_tuple = input_tuple[start_index:end_index+1]

    return result_tuple

# usage:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
start_index = 2
end_index = 5
result = get_elements_in_range(original_tuple, start_index, end_index)
print("Elements within the specified range:", result)

Elements within the specified range: (3, 4, 5, 6)

In [ ]:
# 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
# code :

def main():

    # Prompt the user to input the first set of characters
    set1_input = input("Enter characters for the first set separated by spaces: ")
    set1 = set(set1_input)


    # Prompt the user to input the second set of characters
    set2_input = input("Enter characters for the second set separated by spaces: ")
    set2 = set(set2_input)


    # Compute the union of the two sets
    union_set = set1.union(set2)

    print("Union of the two sets:", union_set)

if __name__ == "__main__":
    main()

Enter characters for the first set separated by spaces: saurav
Enter characters for the second set separated by spaces: tupe
Union of the two sets: {'e', 'a', 'v', ' ', 'r', 't', 's', 'p', 'u'}

In [ ]:
# 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

# code

def find_max_min(input_tuple):

    if not input_tuple:
        return None, None

    # Use tuple unpacking to find the maximum and minimum values
    max_val = max(input_tuple)
    min_val = min(input_tuple)

    return max_val, min_val

# Example usage:
input_tuple = (10, 5, 8, 3, 12, 7)
max_val, min_val = find_max_min(input_tuple)
print("Maximum value:", max_val)
print("Minimum value:", min_val)

Maximum value: 12
Minimum value: 3

In [ ]:
# 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.
# code

def main():
    # Define two sets of integers
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}

    # Print the union of the two sets
    print("Union:", set1.union(set2))

    # Print the intersection of the two sets
    print("Intersection:", set1.intersection(set2))

    # Print the difference of the two sets (elements in set1 but not in set2)
    print("Difference (set1 - set2):", set1.difference(set2))

    # Print the difference of the two sets (elements in set2 but not in set1)
    print("Difference (set2 - set1):", set2.difference(set1))

if __name__ == "__main__":
    main()

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

In [ ]:
# 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.
# code

def count_occurrences(input_tuple, element):
    # Count the occurrences of the element in the tuple
    count = input_tuple.count(element)
    return count

# Example usage:
input_tuple = (1, 2, 3, 4, 1, 2, 1, 3, 4, 5)
element = 1
occurrences = count_occurrences(input_tuple, element)
print(f"The element {element} occurs {occurrences} times in the tuple.")

The element 1 occurs 3 times in the tuple.

In [ ]:
# 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.
# code

def main():
    # Prompt the user to input the first set of strings
    set1_input = input("Enter elements of the first set separated by spaces: ")
    set1 = set(set1_input.split())

    # Prompt the user to input the second set of strings
    set2_input = input("Enter elements of the second set separated by spaces: ")
    set2 = set(set2_input.split())

    # Calculate the symmetric difference of the two sets
    symmetric_difference = set1.symmetric_difference(set2)

    # Print the symmetric difference
    print("Symmetric Difference:", symmetric_difference)

if __name__ == "__main__":
    main()

Enter elements of the first set separated by spaces: 44 , 54  ,64
Enter elements of the second set separated by spaces: 32 , 43 ,63
Symmetric Difference: {',64', ',63', '44', '32', '54', '43'}

In [ ]:
# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

# code

def word_frequency(input_list):
    # Initialize an empty dictionary to store word frequencies
    frequency_dict = {}

    # Count the frequency of each word in the input list
    for word in input_list:
        frequency_dict[word] = frequency_dict.get(word, 0) + 1

    return frequency_dict

# Example usage:
input_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
result = word_frequency(input_list)
print("Word frequencies:", result)

Word frequencies: {'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
# 32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.


# code

def merge_dicts(dict1, dict2):
    merged_dict = dict(dict1)  # Create a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values if key exists in both dictionaries
        else:
            merged_dict[key] = value  # Otherwise, add the key-value pair to the merged dictionary

    return merged_dict

# Example usage:
dict1 = {'a': 100, 'b': 200, 'c': 300}
dict2 = {'b': 300, 'c': 400, 'd': 500}

merged = merge_dicts(dict1, dict2)
print(merged)

{'a': 100, 'b': 500, 'c': 700, 'd': 500}

In [ ]:
# 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding
# value. If any of the keys do not exist in the dictionary, the function should return None.

# code

def get_nested_value(dictionary, keys):
    nested_dict = dictionary
    for key in keys:
        if isinstance(nested_dict, dict) and key in nested_dict:
            nested_dict = nested_dict[key]
        else:
            return None
    return nested_dict

# Example usage:
my_dict = {
    'a': {
        'b': {
            'c': 123
        }
    }
}

keys_to_access = ['a', 'b', 'c']
value = get_nested_value(my_dict, keys_to_access)
print(value)  # Output: 123

# Trying to access a non-existent key:
value = get_nested_value(my_dict, ['x', 'y', 'z'])
print(value)  # Output: None

123
None

In [ ]:
# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

# code

def sort_dict_by_value(d):
    return dict(sorted(d.items(), key=lambda item: item[1]))

# Example usage:
my_dict = {'a': 5, 'b': 2, 'c': 8, 'd': 1}
sorted_dict = sort_dict_by_value(my_dict)
print(sorted_dict)

{'d': 1, 'b': 2, 'a': 5, 'c': 8}

In [ ]:
# 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have
# the same value by storing the keys as a list in the inverted dictionary.

# code

def invert_dict(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            if isinstance(inverted_dict[value], list):
                inverted_dict[value].append(key)
            else:
                inverted_dict[value] = [inverted_dict[value], key]
        else:
            inverted_dict[value] = key
    return inverted_dict

# Example usage:
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
inverted = invert_dict(my_dict)
print(inverted)

{1: ['a', 'c'], 2: ['b', 'e'], 3: 'd'}